
.confirm-modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.confirm-modal-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.confirm-modal {
	width: 35%;
	border: 1px solid black;
	border-radius: 16px;
	background-color: #fefefe;
	padding: 50px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.confirm-msg {
	font-size: 22px;
	font-weight: 600;
}

.confirm-option-btns {
	margin: 100px auto 0;
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.confirm-option-btns > button {
	padding: 15px;
	font-size: 18px;
	cursor: pointer;
}

@media screen and (max-width: 1024px) {
	.confirm-modal {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.confirm-modal {
		width: 90%;
	}
}