
.footer {
	padding: 5% 0;
	text-align: center;
}

.footer hr {
	opacity: 0.25;
}

.footer p {
	margin-top: 50px;
}

@media screen and (max-width: 768px) {
	.footer {padding: 10% 0;}
	.footer p {
		font-size: 12px;
	}
}